/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Dec 1, 2023, 12:22:29 AM
    Author     : User
*/
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root{
    --main-color: grey;
}

*{
    font-family: 'Roboto', sans-serif;
    margin:0 ; padding: 0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    line-height: 1.5;
}


html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
   background-image: url('images/wallpaper.png.jpg');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   padding-left: 30rem;
}


section{
    padding: 1rem 5%;
    min-height: 100vh;
}

.heading{
    font-size: 4rem;
    padding-bottom: 1rem;
    color: black;
    text-transform: uppercase;
}


.heading span{
    color: var(--main-color);
    text-transform: uppercase;
}

.button{
    display: inline-block;
    margin: 4px 2px;
    padding: 15px 32px;
    background: var(--main-color);
    color: white;
    cursor: pointer;
    font-size: 1.7rem;
}

.button:hover{
    background: black;
}

header{
    position: fixed;
    top: 0; left: 0; bottom: 0;
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    flex-flow: column;
    padding: 8rem 2rem;
    width: 30rem;
    text-align: center;
}

header .logo{
    text-transform: uppercase;
    color: white;
    font-size: 3rem;
    font-weight: bolder;
}

header .logo span{
    text-transform: uppercase;
    color: var(--main-color);
}

header .navbar a{
    display: block;
    font-size: 2rem;
    color: white;
    margin: 2rem 0;
}

header .navbar a:hover{
    letter-spacing: .2rem;
    color: var(--main-color);
}

header .follow a{
    font-size: 2.5rem;
    color: white;
    margin: 0 .7rem;
}

header .follow a:hover{
    color: var(--main-color);
}


/*media queries*/
@media(max-width:991px){
  html{
    font-size: 55%;
    }  
    body{
        padding: 0;
    }
    header{
        left: -120%;
    }
    header.active{
        left: 0%;
    }
   
}

@media(max-width:450px){
    html{
        font-size: 50%;
    }
    header{
        width: 100%;
    }
    
}


.home{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.home .images{
    flex: 1 1 40rem;
}

.home .images img{
    width:  100%;
}

.home .content{
    flex: 1 1 40rem;
}

.home .content .hi{
    font-size: 2rem;
    color: var(--main-color);
}

.home .content h3{
    font-size: 4.5rem;
    color: black;
    text-transform: uppercase;
}

.home .content h3 span{
    color: var(--main-color);
    text-transform: uppercase;
}

.home .content .info{
    font-size: 2.5rem;
    color: black;
    padding: 5rem 0;
}

.home .content .text{
    font-size: 2rem;
    color: grey;
    padding: 5rem 0;
}

/*------about-----*/


.about .row-1{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
   
}

.about .row-1 .images{
    flex: 1 1 25rem;
}

.about .row-1 .images img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 1rem solid white;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem ;
}


.about .row-1 .content{
    flex: 1 1 50rem;
}

.about .row-1 .content h3{
    color: black;
    font-size: 3.5rem;
}

.about .row-1 .content p{
    color: black;
    font-size: 1.7rem;
    padding: .5rem 0;
}

.about .row-1 .content .container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 0.5rem 0; 
}

.about .row-1 .content .box-container .box{
    flex: 1 1 20rem;
    
}

.about .row-1 .content .box-container .box span{
    color: var(--main-color);
}

/*-----education-----*/

.education .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.education .box-container .box{
    position: relative;
    flex: 1 1 33rem;
    border-left: .2rem solid var(--main-color);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}

.educattion .box-container .box::before{
    content: '';
    position: absolute;
    top: 0; left: -1rem;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background: yellow;
}

.education .box-container .box .content{
    background: grey;
    padding: 1.5rem;
    box-shadow: 5px 10px;
    border-radius: .5rem;
}

.education .box-container .box .content span{
    color: white;
    font-size: 1.7rem;
    background: grey;
    border-radius: 50rem;
    padding: 4rem 1rem;
}

.education .box-container .box .content h3{
    font-size: 2.5rem;
    padding: .5rem 0;
    color: black;
}



/*----project----*/
.project{
    font-size: large;
    text-align: center;
}

.project .section-title{
    font-size: 4rem;
    padding-bottom: 1rem;
    color: black;
    text-transform: uppercase;
}

.project .section-title span{
    color: var(--main-color);
    text-transform: uppercase;
}

.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.images{
    width: 500px;
    position: relative;
}

img{
    width: 100%;
    display: block;
    margin: auto;
}

.content_project{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
}

.content_project:hover{
    opacity: 1;
}

.content_project h1{
    font-size: 30px;
    color: #ffe100;
    margin-bottom: 15px;
}

.content_project p{
    font-size: 15px;
    color: white;
}

.content_project > *{
    transform: translateY(25px);
    transition: transform 0.6s;
}

.content_project:hover > *{
    transform: translateY(25px);
    transition: transform 0.6s;
}
/*-----contact=-----*/

.contact {
      max-width: 600px;
      margin: 50px ;
      padding: 20px;
      height: 100%;
      width: 100%;
      border-radius: 25px;
}

    .contact-form {
      display: flex;
      flex-direction: column;
    }

    .form-group {
      margin-bottom: 20px;
    }

    label {
      font-weight: bold;
      margin-bottom: 8px;
    }

    input,
    textarea {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    textarea {
      resize: vertical;
    }

    .submit-btn {
      background-color: ivory;
      color: blanchedalmond;
      padding: 10px 15px;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      font-size: 16px;
    }

    .submit-btn:hover {
      background-color: black;
    }



.contact form .box,
.contact form textarea{
    width: 100%;
    border-bottom: .1rem solid black;
    color: black;
    text-transform: none;
    font-size: 3.5rem;
    padding: 1rem 0;
    margin: 1rem 0;
}

contact form .box:focus,
contact form textarea:focus{
 border-color: var(--main-color);   
}


contact form .box::placeholder,
contact form textarea:placeholder{
   text-transform: capitalize;   
}


.contact form textarea{
    height: 20rem;
    resize: none;
}

.contact form .btn{
    margin-top: 0;
    margin-bottom: 1.5rem;
}


/*---footer---*/

footer {
    background-color: black;
    color: #FFE4E1;
    text-align: center;
    padding: 10px 0;
}

@media(max-width:450px){
    html{
        font-size: 50%;
    }
    header{
        width: 100%;
    }
    .education .box-container .box{
        padding-left: 0;
    }
    
}

